/*body {
    background-image: url('../images/nits.jpeg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}*/

body {
    /* Image Location */
    background-image: url('../images/nits.jpeg');
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    /* Font Colour */
    color: white;
}

.navbar {
    margin: 0px;
    padding: 0px;
}

.navbar a:hover {
    color: blue;
}

.navbar h1 {
    color: aquamarine;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 28px;
}

.hi-nav {
    padding-right: 9px;
}

.navbar {
    background-color: #37474f;
    word-spacing: 1em;
}

.navbar li {
    display: inline;
}

.navbar a {
    text-decoration: none;
    color: aqua;
}

#na {
    list-style: None;
}

#minbox {
    margin: auto;
    position: absolute;
    /* 2 */
    top: 50%;
    /* 3 */
    transform: translate(0, -50%);
    padding-left: 50px;
    /*text-align: center;
    align-items: center;*/
}

.su {
    display: block;
}

.em {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border: blue solid;
    border-radius: 8px;
}

.in {
    background-color: green;
    padding-top: 15px;
    padding-bottom: 15px;
    border: solid;
    border-radius: 8px;
    width: 100%;
    font-weight: bold;
    color: aliceblue;
}

.in:hover {
    color: blue;
}