.p{
    color:white;
}
a{
    color:blue;
}
a:hover{
    background-color: bisque;
    color:red;
}
a:active{
    background-color: indianred;
    color:green;
}
body{
    background-image: url('../images/bi2.jpeg');
}
body h3{
   color:silver;
   background-color: blueviolet; 
}
.list ul{
    list-style: lower-greek;
    background-color: aqua;
}
.th{
    color: red;
}
.td{
    color: olivedrab;
}
.image{
    float: right;
    width:30%
}