a{
    color:blue;
}
a:hover{
    background-color: bisque;
    color:red;
}
a:active{
    background-color: indianred;
    color:green;
}
body h3{
   color:silver;
   background-color: blueviolet; 
}
.list ul{
    list-style: lower-greek;
    background-color: aqua;
}
.th{
    color: red;
}
.td{
    color: olivedrab;
}

body{
    background-color: pink;
}
.ab h1{
    
    text-align:center;
    word-spacing:10px;
    font-style: italic;
    text-transform:uppercase;
    background-color: aquamarine;
    margin: auto;
    border:5px orange dotted;
}
.cd h3{
    padding-top: 30px;
    text-decoration: underline;
    word-spacing:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform:uppercase;
    color: red;
    margin: auto;
}
/*.cd{
    float:right;
}*/
.ef{
   /* float:left;*/
    border:5px black solid;
    background-color:rgb(76, 0, 255);
    border-radius: 14px;
 color:bisque;
}
 .ef h3{
    text-decoration: wavy;
    text-transform:uppercase;

 }