/*body {
    background-image: url('../images/sunnyr2.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}*/

body,
html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url('../images/day.gif');
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#co {
    color: white;
}

.bg-text {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 90%;
    margin-top: 20px;
    padding: 20px;
}

.switch {
    margin-left: 5px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#n {
    background-image: url('../images/navday.gif');
    width: 100%;
    background-repeat: repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#n #navmenu li {
    display: inline;
    padding-right: 8px;
}

.cols1 {
    border: 1px aqua solid;
    float: left;
    width: 33.3%;
    box-sizing: border-box;
    /*text-align: center;*/
}

.bg-text h1 {
    color: #00FF00;
    text-align: center;
}

.bg-text .cols1 ul {
    /*padding-left: 51px;*/
    list-style: none;
}

.bg-text .cols1 ul li {
    padding-top: 3px;
    padding-bottom: 2px;
}

.bg-text #cd {
    width: 50%;
    border-radius: 20px;
}

.cen {
    text-align: center;
}

.cen1 {
    text-align: center;
}

.f {
    float: left;
    width: 20%;
    box-sizing: border-box;
}